name: Publish Docker
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 2 * * 0' # Weekly on Sundays at 02:00
jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      image-needs-updating: ${{ steps.check.outputs.needs-updating }}
    steps:
      - name: Docker Image Update Checker
        id: check
        uses: lucacome/docker-image-update-checker@v1
        with:
          base-image: jacklul/pihole:latest
          image: gymnae/pihole:latest
        if: ${{ github.event_name == 'schedule' }}
  build:
    needs: check
    if: ${{ github.event_name != 'schedule' || needs.check.outputs.image-needs-updating == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: Gymnae/pihole
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
       # cache: ${{ github.event_name != 'schedule' }}
    - uses: gautamkrishnar/keepalive-workflow@v1 # using the workflow with default settings
